<h1>Proč s námi?</h1>
<h2><%= I18n.t('app.page.crossroads.aim_text').html_safe %></h2>
<br>
<h2 class="center"><%= link_to I18n.t('app.page.crossroads.link_to_ebooks') %></h2>
<h2 class="center"><%= link_to I18n.t('app.page.crossroads.link_to_help'), helps_path %></h2>
<h2 class="center"><%= link_to I18n.t('app.page.crossroads.link_to_publishing'), ebook_publishing_path %></h2>
<h2 class="center"><%= link_to I18n.t('app.page.crossroads.link_to_services'), services_path %></h2>
<br>
