<%= render partial: 'layouts/breadcrumb' %>
<h1><%= I18n.t('app.page.service_add_ebook.h1_headline') %></h1>
<p><%= I18n.t('app.page.service_add_ebook.add_book_introtext').html_safe %></p>
<h1><%= I18n.t('app.page.service_add_ebook.h1_what_you_get') %></h1>
<%= I18n.t('app.page.service_add_ebook.list_what_you_get').html_safe %>
<h2><%= I18n.t('app.page.service_add_ebook.h2_price') %></h2>
<p><%= I18n.t('app.page.service_add_ebook.price_text') %></p>
<h2><%= I18n.t('app.page.service_add_ebook.h2_free') %></h2>
<p><%= I18n.t('app.page.service_add_ebook.free_text') %></p>
<h2><%= I18n.t('app.page.service_add_ebook.h2_gain') %></h2>
<p><%= I18n.t('app.page.service_add_ebook.gain_text') %></p>
<p><%= I18n.t('app.page.service_add_ebook.gain_example').html_safe %></p>
<h2><%= I18n.t('app.page.service_add_ebook.gain_contact') %></h2>
<p><%= I18n.t('app.page.service_add_ebook.gain_price') %></p>
<%= render partial: 'pages/contact_form' %>