<%= render 'layouts/breadcrumb' %>
<h1><%= I18n.t('app.page.service_programming.h1_headline') %></h1>
<p><%= I18n.t('app.page.service_programming.programming_introtext').html_safe %></p>
<h1><%= I18n.t('app.page.service_programming.h1_our_knowledge') %></h1>
<%= I18n.t('app.page.service_programming.list_experiences').html_safe %>
<h2><%= I18n.t('app.page.service_programming.h2_programming_for') %></h2>
<p><%= I18n.t('app.page.service_programming.text_programming_for') %></p>
<h2><%= I18n.t('app.page.service_programming.h2_why_believe_us') %></h2>
<p><%= I18n.t('app.page.service_programming.list_why_believe_us').html_safe %></p>
<h2><%= I18n.t('app.page.service_programming.h1_what_you_get') %></h2>
<%= I18n.t('app.page.service_programming.list_what_you_get').html_safe %>
<h2><%= I18n.t('app.page.service_programming.h3_programming_price') %></h2>
<p><%= I18n.t('app.page.service_programming.programming_price_text') %></p>
<h2><%= I18n.t('app.page.service_programming.h3_programming_contact') %></h2>
<p><%= I18n.t('app.page.service_programming.programming_contaxt_text') %></p>
<%= render 'pages/contact_form' %>