<%= render partial: 'layouts/breadcrumb' %>
<h1><%= I18n.t('app.page.service_propagation.h1_headline') %></h1>
<p><%= I18n.t('app.page.service_propagation.propagation_introtext') %></p>
<h1><%= I18n.t('app.page.service_propagation.h1_propagation') %></h1>
<%= I18n.t('app.page.service_propagation.propagation_product').html_safe %>
<%= I18n.t('app.page.service_propagation.propagation_type').html_safe %>
<h2><%= I18n.t('app.page.service_propagation.propagation_contact') %></h2>
<p><%= I18n.t('app.page.service_propagation.propagation_price') %></p>
<%= render partial: 'pages/contact_form' %>
