<%= render 'layouts/breadcrumb' %>
<h1><%= I18n.t('app.page.vouchers.h1_headline')%></h1>
<p><%= I18n.t('app.page.vouchers.introtext') %></p>
<%= I18n.t('app.page.vouchers.text').html_safe %>
<%= render 'pages/vouchers' %>