<h1><%= t 'views.users.passwords.new.title' %></h1>
<h2><%= t 'views.users.passwords.new.subtitle' %></h2>

<ul>
  <li><%= t 'views.users.passwords.new.li_first_html' %></li>
  <li><%= t 'views.users.passwords.new.li_second_html' %></li>
  <li><%= t 'views.users.passwords.new.li_third_html' %></li>
</ul>
<h3><%= t 'views.users.passwords.new.text' %></h3>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html: { novalidate: false }) do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <br>
    <%= f.input :email, required: true, placeholder: I18n.t('helpers.placeholder.email'), autofocus: true %>
    <div class="form-actions">
      <%= f.button :submit, t('helpers.button.send') , class: "button-primary"%>
    </div>
  </fieldset>
<% end %>

<%#= render "users/shared/links" %>
